<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    



  <style>
   
    .heading {
      text-align: center;
      text-decoration: solid;
    }
    .img-fluid{
      width: 300px;
    }
    p{
      margin-left: 50%;
      padding-top: 50px; 
      padding-right: 70px;
    }
    
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav">
        <a class="nav-item nav-link" id="home" href="/"> Home </a>
        <a class="nav-item nav-link" id="login" href="/login"> Login </a>
        <a class="nav-item nav-link" id="signUp" href="/sign-up"> Sign Up </a>
        
        
      </div>
    </div>
  </nav>
  <div class="heading">
    <h1 style="margin-top: 40px; text-align: center; text-decoration: solid;"> My Drive Application </h1>
    
    <br><br><br>
    <p> A web based platform which provides file storage. Anytime anywhere access to files. This application provides security and mobility of file
      storing and sharing. It helps keep all the files safely with online cloud storage service.</p>

  </div>

  
 
  
  <!-- Card image -->
  <div class="view overlay">
  <img class="img-fluid" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap" style="margin-left: 20px;">
  
  <div class="mask rgba-white-slight"></div>
  </a>
  </div>

</body>

</html>
